BR2_arm=y
BR2_CORTEX_A7=y
BR2_PRIMARY_SITE="http://sources.buildroot.net"
BR2_OPTIMIZE_2=y
BR2_TARGET_GENERIC_HOSTNAME="luckfox"
BR2_TARGET_GENERIC_ISSUE="Welcome to luckfox pico"
BR2_TARGET_GENERIC_ROOT_PASSWD="root"
BR2_PACKAGE_PYTHON3=y
BR2_PACKAGE_PYTHON_SERIAL=y
BR2_PACKAGE_PYTHON_SPIDEV=y
BR2_PACKAGE_HOST_DTC=y